#cookie{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid black;
  }
  
  #cookie #cookie-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  #cookie #cookie-buttons div{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 0.5rem;
    height: 1rem;
    flex-basis: 20%;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: margin-top 0.2s ease-in-out;
  }
  
  #cookie #cookie-buttons div:hover{
    margin-top: 0.8rem;
  }