:root {
    --bg-main: #F7F7F7;
    --font: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body{
  color: var(--font);
  height: 100%;
  background-color:var(--bg-main);
  overflow-x: hidden;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
