#header{
    height: 13rem;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    text-align: center;
    flex-direction: row;
    border-bottom: 0.5px solid lightgrey;
  }
  #header a{
    padding: 0.5rem;
    margin-left: 2rem;
  } 

  #header a:hover{
    background-color: orange;
    transition: 0.5s;
    border-radius: 25%;
    border: none;
  
  } 
 


